{% extends 'master.html' %} {%block title %}Lista de Miembros{% endblock %}
{%block content %}
<section>
  <h1>Lista de Miembros</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
    {% for x in mymembers %}
    <tr>
      <td><a href="details/{{ x.id }}">{{ x.firstname }}</a></td>
      <td><a href="details/{{ x.id }}">{{ x.lastname }}</a></td>
    </tr>
    {% endfor %}
  </table>
  <a href="/" style="color: purple; font-weight: bold">HOME</a>
</section>
{%endblock content%}
